[core]
  editor = vi
  filemode = false
  excludesfile = ~/.gitignore_global

[user]
  email = "175681+blauerberg@users.noreply.github.com"
  name  = "Yoshikazu Aoyama"

[alias]
  d = diff
  l = log
  lp = log -p
  lg = log --graph --date-order --all --pretty=format:'%h %Cred%d %Cgreen%ad %Cblue%an %Creset%s' --date=short
  s = status -sb
  smu = submodule update --init --recursive
  br = branch
  co = checkout
  sw = switch

[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true

[init]
  defaultBranch = main

[include]
  path = ~/.gitconfig_local
