[core]
  editor = vi
  filemode = false
  pager = delta || less -RFX
  excludesfile = ~/.gitignore_global

[alias]
  d = diff
  l = log
  lp = log -p
  lg = log --graph --date-order --all --pretty=format:'%h %Cred%d %Cgreen%ad %Cblue%an %Creset%s' --date=short
  s = status -sb
  smu = submodule update --init --recursive
  br = branch
  co = checkout
  sw = switch

[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true

[interactive]
  diffFilter = delta --color-only || less -RFX

[init]
  defaultBranch = main

[delta]
  navigate = true

[include]
  path = ~/.gitconfig_local
