[submodule "git-flow-completion"]
	path = git-flow-completion
	url = https://github.com/bobthecow/git-flow-completion
[submodule "dircolors-solarized"]
	path = dircolors-solarized
	url = https://github.com/seebi/dircolors-solarized.git
[submodule "prezto"]
	path = prezto
	url = https://github.com/sorin-ionescu/prezto.git
