[submodule "git-flow-completion"]
	path = git-flow-completion
	url = https://github.com/bobthecow/git-flow-completion
[submodule "prezto"]
	path = prezto
	url = https://github.com/blauerberg/prezto.git
[submodule "vim/external/colors/vim-colors-japanesque"]
	path = vim/external/colors/vim-colors-japanesque
	url = https://github.com/aereal/vim-colors-japanesque.git
[submodule "vim/external/colors/vim-atom-dark"]
	path = vim/external/colors/vim-atom-dark
	url = https://github.com/gosukiwi/vim-atom-dark.git
